.header{
    background-color: black;
 
}

.container {
    padding: 10px;
    text-align: center;
    color: white;
    
}

.display-4 {
    font-weight: bold;


}

.btn{
   
    background: #2196F3;
    color: white;
   
  }
  .form-inline{
      float: left;
      width: 20%;
  }
  .weather-container{
      float: right;
      width: 80%;
  }